<template>
  <div>
    <v-row>
      <v-col>
        <h1 class="text-center">{{ _('login.heading') }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <form @submit.prevent="submit()" novalidate>
          <v-row>
            <v-col>
              <v-text-field
                v-model="$v.credentials.username.$model"
                :error-messages="errorMessage($v.credentials.username, 'login.fields.username')"
                :label="_('login.fields.username.label') | c"
                @input="$v.credentials.username.$touch()"
                @blur="$v.credentials.username.$touch()"
                v-mask="$defaults.phoneNumberMask"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-text-field
                type="password"
                v-model="$v.credentials.password.$model"
                :error-messages="errorMessage($v.credentials.password, 'login.fields.password')"
                :counter="inputsData.login.password.maxLength"
                :label="_('login.fields.password.label') | c"
                @input="$v.credentials.password.$touch()"
                @blur="$v.credentials.password.$touch()"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col class="d-flex justify-center">
              <v-btn color="primary" type="submit" :loading="$wait.is('authUser.login')">
                {{ _('login.submit') }}
                <v-icon right small>exit_to_app</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row class="mt-4">
            <v-col class="d-flex justify-center">
              <v-menu>
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on" text :loading="$wait.is('fetch.locale.*')" class="fbsilh">
                    <v-icon small left>language</v-icon>
                    {{_('language')}}: {{_(`language.${authUser.locale}`)}}
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="lang in $defaults.languages.filter(language => language != authUser.locale)"
                    :key="lang"
                    :active="lang == authUser.locale"
                    link
                    @click="fetchLocale(lang)"
                  >
                    <v-list-item-title>{{ _(`language.${lang}`) }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </v-row>
        </form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required, maxLength } from 'vuelidate/lib/validators'
import ErrorMessagesMixin from '../mixins/ErrorMessages'
import { mask } from 'vue-the-mask'

export default {
  directives: { mask },
  mixins: [ErrorMessagesMixin],
  data: () => ({
    credentials: {
      username: '999999999',
      password: 'demo'
    },
    loading: false
  }),
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters(['authUser', 'inputsData'])
  },
  methods: {
    ...mapActions('i18n', ['fetchLocale']),
    submit() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.$store
          .dispatch('login', this.credentials)
          .then(res => {
            this.$router.push({ name: 'account' })

            setTimeout(() => {
              this.$toast(this._('loggedin'))
            }, 50)
          })
          .catch(err => {
            this.$v.credentials.password.$model = ''
            this.$v.credentials.password.$reset()

            if (err.response.status === 400) {
              if (err.response.data.non_field_errors) {
                this.$toast.error(err.response.data.non_field_errors[0])
              } else {
                this.$toast.error(this._('login.error'))
              }
            } else {
              this.$toast.error(this._('errors.default'))
            }
          })
      }
    }
  },
  validations() {
    return {
      credentials: {
        username: {
          required,
          maxLength: maxLength(this.inputsData.login.username.maxLength)
        },
        password: {
          required,
          maxLength: maxLength(this.inputsData.login.password.maxLength)
        }
      }
    }
  }
}
</script>
