<template>
  <div id="app">
    <v-fade-transition>
      <v-fade-transition v-if="initialized">
        <component :is="'layout-' + layout" />
      </v-fade-transition>

      <v-app v-else>
        <div :style="loaderStyle" v-if="initialized === null">
          <v-progress-circular :size="100" :width="5" color="primary" indeterminate></v-progress-circular>
        </div>
        <div v-else :style="{...loaderStyle, flexDirection: 'column'}">
          <div>
            <v-icon size="100" color="error">warning</v-icon>
          </div>
          <div>
            <p>{{_('init.error')}}</p>
          </div>
        </div>
      </v-app>
    </v-fade-transition>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'app',
  data() {
    return {
      initialized: null,
      loaderStyle: {
        width: '100%',
        height: '100%',
        display: 'flex',
        justifyContent: 'center',
        alignItems: 'center'
      }
    }
  },
  computed: {
    layout() {
      return this.$route.meta.layout || 'authorization'
    },
    ...mapGetters(['authUser']),
    ...mapGetters('i18n', ['_'])
  },
  watch: {
    // watch changing of current language for vuetify
    'authUser.locale'(to, from) {
      this.$vuetify.lang.current = to
    },
    $route(to, from) {
      if (
        to.meta.authorization === 'required' &&
        !this.authUser.is_authenticated
      ) {
        this.$router.replace({ name: 'login' })
      } else if (
        to.meta.authorization === 'required not' &&
        this.authUser.is_authenticated
      ) {
        this.$router.replace({ name: 'account' })
      }
    }
  },
  created() {
    this.$store
      .dispatch('initial')
      .then(res => {
        this.initialized = true
        this.$vuetify.lang.current = this.authUser.locale
      })
      .catch(err => {
        console.error(err)
        this.initialized = false
      })
  }
}
</script>

<style lang="scss">
@import '@/scss/index.scss';
</style>
