<template>
  <core-add
    :heading="_('seller.heading.add')"
    :actions="['store/fetchAll']"
    :waiters="['store.fetchAll']"
  >
    <core-form :model-class="$route.meta.model" action="add" :fields="fields"></core-form>
  </core-add>
</template>

<script>
import ItemFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  },
  mixins: [ItemFormMixin]
}
</script>

<style>
</style>