<template>
  <core-edit
    :heading="_('seller.heading.edit')"
    :actions="['store/fetchAll']"
    :waiters="['store.fetchAll', `seller.fetch.${this.$route.params.pk}`]"
  >
    <core-form
      :instance="getSeller($route.params.pk)"
      :model-class="$route.meta.model"
      action="edit"
      :fields="fields"
    ></core-form>
  </core-edit>
</template>

<script>
import SellerFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('seller', ['getSeller']),
    ...mapGetters('i18n', ['_'])
  },
  mixins: [SellerFormMixin],
  created() {
    this.$store.dispatch(`seller/fetch`, this.$route.params.pk)
  }
}
</script>

<style>
</style>