<template>
  <core-list
    :heading="_('seller.heading.list')"
    :table="table"
    :filters="filters"
    :actions="['seller/fetchAll', 'store/fetchAll']"
    :waiters="['seller.fetchAll', 'store.fetchAll']"
  ></core-list>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Store } from '@/models/store'
export default {
  // data() {
  //   // return {
  //   //   rows: [
  //   //     {
  //   //       value: 'category',
  //   //       component: 'HelperCategoryParentHierarchy',
  //   //       data: seller => {
  //   //         return { propsData: { category: seller.categoryObj } }
  //   //       },
  //   //       validation: seller => seller.categoryObj
  //   //     }
  //   //   ]
  //   // }
  // },
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('store', ['storesArray']),
    table() {
      return [
        {
          text: this.$options.filters.c(
            this._('seller.fields.full_name.label')
          ),
          value: 'full_name'
          // align?: 'start' | 'center' | 'end'
          // sortable?: boolean
          // filterable?: boolean
          // divider?: boolean
          // class?: string | string[]
          // width?: string | number
          // filter?: (value: any, search: string, seller: any) => boolean
          // sort?: (a: any, b: any) => number
        },
        {
          text: this.$options.filters.c(this._('seller.fields.store.label')),
          value: 'storeObj.address',
          sortable: false
        },
        {
          text: this.$options.filters.c(this._('actions.listActions')),
          value: 'actions',
          align: 'end',
          sortable: false,
          filterable: false
        }
      ]
    },
    filters() {
      return [
        {
          name: 'store',
          text: 'address',
          type: 'autocomplete',
          label: this._('seller.fields.store.label'),
          items: this.storesArray,
          filter: (seller, value) =>
            seller.storeObj ? seller.storeObj.pk == value : false
        }
      ]
    }
  }
}
</script>

<style>
</style>