<template>
  <core-view
    :heading="_('seller.heading.view')"
    :actions="['store/fetchAll']"
    :waiters="['store.fetchAll', `seller.fetch.${this.$route.params.pk}`]"
  >View</core-view>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  }
}
</script>

<style>
</style>