<template>
  <core-add
    :heading="_('store.heading.add')"
    :actions="['category/fetchAll']"
    :waiters="['category.fetchAll']"
  >
    <core-form :model-class="$route.meta.model" action="add" :fields="fields"></core-form>
  </core-add>
</template>

<script>
import StoreFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  },
  mixins: [StoreFormMixin]
}
</script>

<style>
</style>