<template>
  <core-edit
    :heading="_('store.heading.edit')"
    :actions="['seller/fetchAll']"
    :waiters="['seller.fetchAll', `store.fetch.${this.$route.params.pk}`]"
  >
    <core-form
      :instance="getStore($route.params.pk)"
      :model-class="$route.meta.model"
      action="edit"
      :fields="fields"
    ></core-form>
  </core-edit>
</template>

<script>
import StoreFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('store', ['getStore'])
  },
  mixins: [StoreFormMixin],
  created() {
    this.$store.dispatch(`store/fetch`, this.$route.params.pk)
  }
}
</script>

<style>
</style>