<template>
  <core-list
    :heading="_('store.heading.list')"
    :table="table"
    :filters="filters"
    :actions="['store/fetchAll', 'seller/fetchAll']"
    :waiters="['store.fetchAll', 'seller.fetchAll']"
  ></core-list>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Seller } from '@/models/seller'
export default {
  // data() {
  //   return {
  //     rows: [
  //       {
  //         value: 'seller',
  //         component: 'HelperSellerParentHierarchy',
  //         data: store => {
  //           return { propsData: { seller: store.sellerObj } }
  //         },
  //         validation: store => store.sellerObj
  //       }
  //     ]
  //   }
  // },
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('seller', ['sellersArray']),
    table() {
      return [
        {
          text: this.$options.filters.c(this._('store.fields.address.label')),
          value: 'address'
          // align?: 'start' | 'center' | 'end'
          // sortable?: boolean
          // filterable?: boolean
          // divider?: boolean
          // class?: string | string[]
          // width?: string | number
          // filter?: (value: any, search: string, store: any) => boolean
          // sort?: (a: any, b: any) => number
        },
        {
          text: this.$options.filters.c(this._('store.fields.seller.label')),
          value: 'sellerObj.full_name',
          sortable: false
        },
        {
          text: this.$options.filters.c(this._('actions.listActions')),
          value: 'actions',
          align: 'end',
          sortable: false,
          filterable: false
        }
      ]
    },
    filters() {
      return [
        {
          name: 'seller',
          text: 'full_name',
          type: 'autocomplete',
          label: this._('store.fields.seller.label'),
          items: this.sellersArray,
          filter: (store, value) => store.seller == value
        }
      ]
    }
  }
}
</script>

<style>
</style>