<template>
  <core-view
    :heading="_('store.heading.view')"
    :actions="['seller/fetchAll']"
    :waiters="['seller.fetchAll', `store.fetch.${this.$route.params.pk}`]"
  >View</core-view>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  }
}
</script>

<style>
</style>