<template>
  <core-edit
    :heading="_('category.heading.edit')"
    :actions="['category/fetchAll']"
    :waiters="['category.fetchAll', `category.fetch.${this.$route.params.pk}`]"
  >
    <core-form
      :instance="getCategory($route.params.pk)"
      :model-class="$route.meta.model"
      action="edit"
      :fields="fields"
    ></core-form>
  </core-edit>
</template>

<script>
import CategoryFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('category', ['getCategory']),
    ...mapGetters('i18n', ['_'])
  },
  mixins: [CategoryFormMixin],
  created() {
    this.$store.dispatch(`category/fetch`, this.$route.params.pk)
  }
}
</script>

<style>
</style>