<template>
  <helper-wait :wait-for="'category/fetchAll'">
    <template v-slot:waiting>
      <helper-list-loader columns="2" />
    </template>

    <core-panel>
      <template v-slot:head>
        <slot name="head">
          <div class="text-center" :style="{width: '100%'}">{{_('category.heading.list')}}</div>
        </slot>
      </template>

      <helper-list-actions
        :model-class="model"
        :has-selected="selected.length"
        @deleteSelected="onDeleteSelected"
      />

      <v-row>
        <v-col>
          <v-text-field
            v-model.trim="search"
            append-icon="search"
            :label="_('actions.search') | c"
            hide-details
            clearable
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col class="d-flex justify-space-between">
          <div>
            <v-chip
              v-if="search"
              close
              @click:close="search = ''"
              class="mr-2 my-1"
            >{{_('actions.search') | c}}: {{search}}</v-chip>
          </div>
          <div>
            <v-scale-transition origin="cetner 0">
              <v-btn
                v-if="selected.length"
                small
                @click="selected = []"
                class="mr-2"
                :title="_('category.list.deselect')"
                color="primary"
              >
                <v-icon small :left="$vuetify.breakpoint.smAndUp">clear_all</v-icon>
                <span v-show="$vuetify.breakpoint.smAndUp">{{_('category.list.deselect') }}</span>
              </v-btn>
            </v-scale-transition>
            <!-- <v-btn
                  v-if="opened.length"
                  small
                  @click="updateTree(false)"
                  :title="t[routeName].actions.listActions.closeAll"
                  color="primary"
                >
                  <v-icon small :left="$vuetify.breakpoint.smAndUp"
                    >unfold_less</v-icon
                  >
                  <span v-show="$vuetify.breakpoint.smAndUp">{{
                    t[routeName].listActions.closeAll
                  }}</span>
            </v-btn>-->

            <v-btn
              small
              v-if="!opened.length"
              @click="toggleAllNodes(true)"
              :title=" _('category.list.expand')"
              color="primary"
            >
              <v-icon small :left="$vuetify.breakpoint.smAndUp">unfold_more</v-icon>
              <span v-show="$vuetify.breakpoint.smAndUp">{{ _('category.list.expand') }}</span>
            </v-btn>

            <v-btn
              small
              v-else
              @click="toggleAllNodes(false)"
              :title="_('category.list.close')"
              color="primary"
            >
              <v-icon small :left="$vuetify.breakpoint.smAndUp">unfold_less</v-icon>
              <span v-show="$vuetify.breakpoint.smAndUp">{{ _('category.list.close') }}</span>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-treeview
            v-if="rootCategories.length"
            ref="categoriesTree"
            v-model="selected"
            item-key="pk"
            :items="rootCategories"
            :search="search"
            :filter="filterCategories"
            :open="opened"
            selectable
            transition
            return-object
            hoverable
            expand-icon="expand_more"
            selection-type="independent"
            id="categories-tree"
          >
            <template v-slot:label="{ item }">
              <a
                href="javascript:void(0);"
                class="text-uppercase text-decoration-none d-block py-3"
                :title="item.name"
                @click="item.hasChildren ? toggleNode(item) : null"
              >{{ item.name }}</a>
            </template>

            <template v-slot:append="{ item }">
              <helper-model-actions :model="item" @delete="onDelete" />
            </template>
          </v-treeview>
        </v-col>
      </v-row>
    </core-panel>
  </helper-wait>
</template>

<script>
import ListMixin from '@/app/mixins/List'
import RenderSlotContentMixin from '@/app/mixins/RenderSlotContent'
import { mapGetters } from 'vuex'

export default {
  mixins: [ListMixin, RenderSlotContentMixin],
  data() {
    return {
      model: this.$route.meta.model,
      opened: []
    }
  },
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('category', ['rootCategories', 'categoriesArray'])
  },
  methods: {
    filterCategories(category, search) {
      return (
        this.selected.map(c => c.pk).includes(category.pk) ||
        this.model.filter(category, search)
      )
    },
    toggleAllNodes(bOpen) {
      if (bOpen) {
        this.opened = this.categoriesArray.filter(
          category => category.hasChildren
        )
      } else {
        this.opened = []
      }
    },
    toggleNode(category) {
      if (this.opened.includes(category)) {
        const index = this.opened.indexOf(category)

        if (index > -1) {
          this.opened.splice(index, 1)
        }
      } else {
        this.opened.push(category)
      }
    }
  },
  created() {
    this.$store.dispatch('category/fetchAll')
  }
}
</script>