<template>
  <helper-wait :wait-for="waiters">
    <template v-slot:waiting>
      <helper-form-loader :rows="waiterRows" />
    </template>

    <core-panel>
      <template v-slot:head>
        <slot name="head">
          <v-btn v-if="backTo" :to="backTo" text exact class="mr-2">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          {{heading}}
        </slot>
      </template>

      <slot @submit="submit" />

      <template v-slot:foot>
        <slot name="foot" />
      </template>
    </core-panel>
  </helper-wait>
</template>

<script>
import Vue from 'vue'
import AddMixin from '@/app/mixins/Add'
import { mapGetters } from 'vuex'

export default {
  props: {
    heading: {
      type: String,
      required: true
    },
    actions: {
      type: Array,
      required: true
    },
    waiters: {
      type: Array,
      required: true
    },
    waiterRows: {
      type: Number,
      required: false,
      default: 2
    }
  },
  mixins: [AddMixin],
  data() {
    return {
      modelName: this.$route.meta.model.name.toLowerCase(),
      model: this.$route.meta.model
    }
  },
  computed: {
    ...mapGetters('i18n', ['_'])
  },
  created() {
    for (const action of this.actions) {
      this.$store.dispatch(action)
    }
    this.$on('submit', this.submit)
  }
}
</script>