<template>
  <form @submit.prevent="onSubmit()" novalidate ref="form">
    <v-row v-for="(field, i) in fields" :key="i">
      <v-col>
        <v-autocomplete
          v-if="field.type == 'autocomplete'"
          :ref="`${field.name}.${field.type}`"
          :filter="field.filter"
          :items="field.items"
          item-value="pk"
          :item-text="field.text"
          @input="$v.item[field.name].$touch()"
          @blur="$v.item[field.name].$touch()"
          @click:clear="blurField(field)"
          :error-messages="
            errorMessage(
              $v.item[field.name],
              `${modelName}.fields.${field.name}`
            )
          "
          :success-messages="
            successMessage(`${modelName}.fields.${field.name}`)
          "
          :hint="hintMessage(`${modelName}.fields.${field.name}`)"
          :label="_(`${modelName}.fields.${field.name}.label`) | c"
          clearable
          v-model="item[field.name + 'Obj']"
        >
          <template v-for="(slot, i) in field.slots" v-slot:[slot.name]="{ item }">
            <span v-html="renderSlotContent(slot, item)" :key="i">
              {{
              slot.name
              }}
            </span>
          </template>
        </v-autocomplete>

        <v-text-field
          v-else-if="field.type == 'text' && field.mask"
          v-model="item[field.name]"
          v-mask="field.mask"
          :error-messages="
            errorMessage(
              $v.item[field.name],
              `${modelName}.fields.${field.name}`
            )
          "
          :success-messages="
            successMessage(`${modelName}.fields.${field.name}`)
          "
          :hint="hintMessage(`${modelName}.fields.${field.name}`)"
          :label="_(`${modelName}.fields.${field.name}.label`) | c"
          :counter="
            $v.item[field.name].$params.maxLength
              ? $v.item[field.name].$params.maxLength.max
              : null
          "
          @input="$v.item[field.name].$touch()"
          @blur="$v.item[field.name].$touch()"
        />

        <v-text-field
          v-else-if="field.type == 'text' && !field.mask"
          v-model="item[field.name]"
          :error-messages="
            errorMessage(
              $v.item[field.name],
              `${modelName}.fields.${field.name}`
            )
          "
          :success-messages="
            successMessage(`${modelName}.fields.${field.name}`)
          "
          :hint="hintMessage(`${modelName}.fields.${field.name}`)"
          :label="_(`${modelName}.fields.${field.name}.label`) | c"
          :counter="
            $v.item[field.name].$params.maxLength
              ? $v.item[field.name].$params.maxLength.max
              : null
          "
          @input="$v.item[field.name].$touch()"
          @blur="$v.item[field.name].$touch()"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col class="d-flex justify-end">
        <v-btn type="submit" color="secondary">
          <component :is="`helper-submit-${this.action}`" />
        </v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
import RenderSlotContentMixin from '../../mixins/RenderSlotContent'
import ErrorMessages from '../../mixins/ErrorMessages'
import { Model } from '@/models'
import { mapGetters } from 'vuex'
import { mask } from 'vue-the-mask'
export default {
  directives: { mask },
  mixins: [RenderSlotContentMixin, ErrorMessages],
  props: {
    instance: {
      type: Model
    },
    action: {
      type: String,
      required: true,
      validation: value => ['edit', 'add'].includes(value)
    },
    fields: {
      type: Array,
      required: true,
      validation: value => {
        for (const field of value) {
          if (!(field instanceof Object) || !field.hasOwnProperty('type'))
            return false

          if (field.type == 'text') {
            for (const required of ['name', 'validation']) {
              if (!field.hasOwnProperty(required)) return false
            }
          } else if (field.type == 'autocomlete') {
            for (const required of [
              'name',
              'items',
              'filter',
              'validation',
              'text'
            ]) {
              if (!field.hasOwnProperty(required)) return false
            }
          } else {
            return false
          }
        }
      }
    },
    modelClass: {
      type: Function,
      required: true,
      validation: value => value instanceof Model.prototype
    },
    submit: Function
  },
  data() {
    return {
      modelName: this.modelClass._name,
      item: this.modelClass.clone(this.instance)
    }
  },
  computed: {
    ...mapGetters('i18n', ['_'])
  },
  methods: {
    onSubmit() {
      console.log(this.item)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        if (this.submit) {
          this.submit(this.item)
        } else {
          this.$parent.$parent.$parent.$emit('submit', this.item)
        }
      }
    },
    blurField(field) {
      this.$refs[`${field.name}.${field.type}`][0].blur()
    },
    changeValue(field) {
      return value => {
        item[field.name] = value
        this.blurField(field)
      }
    }
  },
  validations() {
    let validations = {}

    for (const field of this.fields) {
      validations[field.name] = field.validation
    }

    return { item: validations }
  }
}
</script>

<style></style>
