<template>
  <helper-wait :wait-for="waiters">
    <template v-slot:waiting>
      <helper-list-loader columns="2" />
    </template>

    <core-panel>
      <template v-slot:head>
        <slot name="head">
          <div class="text-center" :style="{width: '100%'}">{{heading}}</div>
        </slot>
      </template>

      <helper-list-actions
        :model-class="model"
        :has-selected="selected.length"
        @deleteSelected="onDeleteSelected"
      />

      <slot>
        <v-row v-if="items.length">
          <v-col cols="12" :md="filters.length ? (filters % 2 === 0 ? 12 : 6) : 12">
            <v-text-field
              v-model.trim="search"
              append-icon="search"
              :label="_('actions.search') | c"
              hide-details
              clearable
            />
          </v-col>
          <v-col cols="12" md="6" v-for="f in filters" :key="f.name">
            <v-autocomplete
              v-if="f.type == 'autocomplete'"
              :ref="`filter.${f.name}`"
              :filter="f.filter"
              :items="f.items"
              item-value="pk"
              :item-text="f.text"
              @click:clear="$refs[`filter.${f.name}`][0].blur()"
              :label="f.label | c"
              clearable
              v-model="filter[f.name]"
            >
              <template v-for="(slot, i) in f.slots" v-slot:[slot.name]="{item}">
                <span v-html="renderSlotContent(slot, item)" :key="i">{{slot.name}}</span>
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-chip
              v-if="search"
              close
              @click:close="search = ''"
              class="mr-2 my-1"
            >{{_('actions.search') | c}}: {{search}}</v-chip>
            <v-chip
              v-for="(f, i) in filters"
              v-if="f.type == 'autocomplete' && filter[f.name]"
              :key="i"
              class="mr-2 my-1"
              close
              @click:close="filter[f.name] = null"
            >{{f.label | c}}: {{getFilterChipForeignValue(f)}}</v-chip>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-data-table
              v-model="selected"
              :items="items"
              :headers="table"
              :search="search"
              :custom-filter="filterItems"
              item-key="pk"
              show-select
              :no-data-text="_(`${model._name}.list.noRecords`)"
            >
              <template v-for="(row, i) in rows" v-slot:[getTableRowSlotName(row.value)]="{item}">
                <span v-html="renderSlotContent(row, item)" :key="i"></span>
              </template>

              <template v-slot:item.actions="{ item }">
                <helper-model-actions :model="item" @delete="onDelete" />
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </slot>

      <template v-slot:foot>
        <slot name="foot" />
      </template>
    </core-panel>
  </helper-wait>
</template>

<script>
import ListMixin from '@/app/mixins/List'
import RenderSlotContentMixin from '@/app/mixins/RenderSlotContent'
import { mapGetters } from 'vuex'

export default {
  props: {
    heading: {
      type: String,
      required: true
    },
    table: {
      type: Array,
      required: true
    },
    rows: {
      type: Array,
      required: false,
      default: () => []
    },
    filters: {
      type: Array,
      required: false,
      default: () => []
    },
    actions: {
      type: Array,
      required: true
    },
    waiters: {
      type: Array,
      required: true
    }
  },
  mixins: [ListMixin, RenderSlotContentMixin],
  data() {
    const filter = {}

    for (const f of this.filters) {
      filter[f.name] = f.value || null
    }

    return {
      model: this.$route.meta.model,
      filter
    }
  },
  computed: {
    ...mapGetters('i18n', ['_']),
    itemsArray() {
      return this.$store.getters[
        `${this.model._name}/${this.model._namePlural}Array`
      ]
    },
    items() {
      let result = this.itemsArray

      for (const filter of this.filters) {
        if (this.filter.hasOwnProperty(filter.name)) {
          const value = this.filter[filter.name]
          if (value) result = result.filter(item => filter.filter(item, value))
        }
      }

      return result
    }
  },
  methods: {
    getFilterChipForeignValue(f) {
      const value = this.filter[f.name]
      return f.items.filter(i => i.pk == value)[0][f.text]
    },
    getTableRowSlotName(value) {
      return `item.${value}`
    },
    filterItems(value, search, item) {
      return (
        this.selected.map(i => i.pk).includes(item.pk) ||
        this.model.filter(item, search)
      )
    }
  },
  created() {
    for (const action of this.actions) {
      this.$store.dispatch(action)
    }
  }
}
</script>