<template>
  <v-app-bar app clipped-right color="primary" dark dense fixed :extension-height="0">
    <v-app-bar-nav-icon @click.stop="getSidebar.opened = !getSidebar.opened">
      <v-icon>menu</v-icon>
    </v-app-bar-nav-icon>
    <v-toolbar-title>{{_()}}</v-toolbar-title>
    <v-spacer />
    <v-btn @click="logout()" color="white" icon :title="_('actions.logout') | c">
      <v-icon small>logout</v-icon>
    </v-btn>
    <template v-slot:extension>
      <v-progress-linear
        id="main-loader"
        indeterminate
        color="secondary"
        :active="$wait.any"
        fixed
        :style="{left: 0, right: 0, top: 4}"
        background-color="primary"
        background-opacity="0.5"
      />
    </template>
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex'
import LogoutMixin from '../../mixins/Logout'

export default {
  mixins: [LogoutMixin],
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('widgets', ['getSidebar'])
  }
}
</script>

<style></style>
