<template>
  <div class="d-flex flex-column pa-sm-4">
    <div class="d-flex align-center display-1 my-4">
      <slot name="head"></slot>
    </div>
    <div class="my-2">
      <slot name="default" />
    </div>
    <div class="my-2">
      <slot name="foot"></slot>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>