<template>
  <v-navigation-drawer v-model="opened" app color="primary" dark floating>
    <v-list>
      <v-list-item v-for="item in items" :key="item.title" link :to="item.route">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <v-list-group no-action color="secondary" v-model="langSelect">
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{_('language')}}: {{_(`language.${authUser.locale}`)}}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item
          v-for="lang in $defaults.languages.filter(language => language != authUser.locale)"
          :key="lang"
          :active="lang == authUser.locale"
          link
          @click="changeLocale(lang)"
        >
          <v-list-item-title>{{ _(`language.${lang}`) }}</v-list-item-title>
        </v-list-item>
      </v-list-group>

      <div class="pa-2">
        <v-btn @click="logout()" block color="secondary" class="fbsilh">
          <v-icon left small>logout</v-icon>
          {{ _('actions.logout') }}
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import LogoutMixin from '../../mixins/Logout'
import Cache from '@/utils/cache'

export default {
  mixins: [LogoutMixin],
  data() {
    const isLgAndUp = this.$vuetify.breakpoint.lgAndUp
    return {
      get opened() {
        return isLgAndUp ? Cache.get('sidebar.opened', false) : this._opened
      },
      set opened(value) {
        if (isLgAndUp) {
          Cache.set('sidebar.opened', Boolean(value))
        }

        this._opened = Boolean(value)
      },
      _opened: false,
      langSelect: false
    }
  },
  computed: {
    ...mapGetters(['authUser']),
    ...mapGetters('i18n', ['_']),
    items() {
      return [
        {
          route: { name: 'stores' },
          icon: 'store',
          text: this._('store.menu')
        },
        {
          route: { name: 'sellers' },
          icon: 'person',
          text: this._('seller.menu')
        },
        {
          route: { name: 'categories' },
          icon: 'list',
          text: this._('category.menu')
        },
        {
          route: { name: 'items' },
          icon: 'shopping_cart',
          text: this._('item.menu')
        }
      ]
    }
  },
  methods: {
    ...mapActions('i18n', ['fetchLocale']),
    changeLocale(lang) {
      this.fetchLocale(lang)

      this.langSelect = false
    }
  },
  mounted() {
    this.$store.commit('widgets/setSidebar', this)

    //Close drawer if overlay has been clicked
    document.addEventListener('click', event => {
      if (!document.querySelector('.v-overlay')) return

      for (const element of event.path) {
        if (element.classList && element.classList.contains('v-overlay')) {
          this.opened = false
          break
        }
      }
    })
  }
}
</script>

<style></style>
