<template>
  <helper-wait :wait-for="waiters">
    <template v-slot:waiting>
      <helper-form-loader />
    </template>

    <core-panel>
      <template v-slot:head>
        <slot name="head">
          <v-btn v-if="backTo" :to="backTo" text exact class="mr-2">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          {{heading}}
        </slot>
      </template>

      <slot @submit="submit" />

      <template v-slot:foot>
        <slot name="foot" />
      </template>
    </core-panel>
  </helper-wait>
</template>

<script>
import Vue from 'vue'
import ViewMixin from '../../mixins/View'
import { mapGetters } from 'vuex'

export default {
  props: {
    heading: {
      type: String,
      required: true
    },
    actions: {
      type: Array,
      required: true
    },
    waiters: {
      type: Array,
      required: true
    }
  },
  mixins: [ViewMixin],
  computed: {
    ...mapGetters('i18n', ['_'])
  },
  created() {
    for (const action of this.actions) {
      this.$store.dispatch(action)
    }
  }
}
</script>