@import 'theme/theme';

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.row {
  > .col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.sidenav {
  top: $navbar-adjust;

  li > a {
    padding: 0 $sidenav-padding;
  }

  .collapsible-header {
    padding: 0 $sidenav-padding;
  }

  // li.active ul>li>a{
  //     background-color: rgba(0, 0, 0, 0.05);
  // }
}

.dropdown-content {
  li {
    a {
      i {
        margin-right: 1rem;
      }
    }
  }
}

.panel {
}

.container {
  width: 90% !important;
  max-width: 1400px !important;
}

@media #{$small-and-down} {
  .container {
    width: 95% !important;
  }
}

.sorting {
  .material-icons {
    line-height: unset;
    font-size: 18px;
    &.down {
      transform: rotate(180deg);
    }
  }
}

@media #{$large-and-up} {
  main {
    margin-left: $sidenav-width;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-list-enter-active,
.fade-list-leave-active {
  transition: opacity 0.15s ease;
}

.fade-list-enter,
.fade-list-leave-to {
  opacity: 0;
}

// table {
//   tbody {
//     position: relative;
//     height: 100%;
//     tr {
//       position: relative;
//       opacity: 0.5;
//     }
//   }
// }

// .flip-list-move {
//   transition: transform 1s;
// }

.input-field-clear {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drag-target {
  width: 15px;
  top: $navbar-adjust;
}

.modal-choice {
  max-height: 80%;
  width: 60%;

  @media #{$small-and-down} {
    width: 95%;
  }
  .collection {
    .collection-item.disabled {
      cursor: text;
    }
  }
}

.progress {
  position: absolute;
  background: color('primary', 'lighten-5');
  margin: 0;
  height: 5px;
  > div {
    background: color('primary', 'darken-3');
  }
}

table.list-waiter {
  td {
    position: relative;
    > div {
      height: 32px;
      background: color('grey', 'lighten-4');
    }
  }
  thead {
    td {
      > div {
        background: color('grey', 'lighten-3');
      }
    }
  }
}
