@import 'variables';
@import '~materialize-css/sass/materialize';

/* Scroll */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: color('primary', 'lighten-5');
}
::-webkit-scrollbar-thumb {
    background: colorb('primary');
    &:hover{
        background: color('primary', 'darken-3');
    }
}

@media only screen and (min-width: 0){
    html {
        font-size: $font-base;
    }
}

.h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 3.5) 0;}
.h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 3.5) 0;}
.h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 3.5) 0;}
.h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 3.5) 0;}
.h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 3.5) 0;}
.h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 3.5) 0;}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    transition: all ease-in-out .3;
}

.flex-row            { flex-direction: row !important; }
.flex-column         { flex-direction: column !important; }
.flex-row-reverse    { flex-direction: row-reverse !important; }
.flex-column-reverse { flex-direction: column-reverse !important; }

.flex-wrap         { flex-wrap: wrap !important; }
.flex-nowrap       { flex-wrap: nowrap !important; }
.flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
.flex-fill         { flex: 1 1 auto !important; }
.flex-grow-0       { flex-grow: 0 !important; }
.flex-grow-1       { flex-grow: 1 !important; }
.flex-shrink-0     { flex-shrink: 0 !important; }
.flex-shrink-1     { flex-shrink: 1 !important; }

.justify-content-start   { justify-content: flex-start !important; }
.justify-content-end     { justify-content: flex-end !important; }
.justify-content-center  { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.justify-content-around  { justify-content: space-around !important; }

.align-items-start    { align-items: flex-start !important; }
.align-items-end      { align-items: flex-end !important; }
.align-items-center   { align-items: center !important; }
.align-items-baseline { align-items: baseline !important; }
.align-items-stretch  { align-items: stretch !important; }

.align-content-start   { align-content: flex-start !important; }
.align-content-end     { align-content: flex-end !important; }
.align-content-center  { align-content: center !important; }
.align-content-between { align-content: space-between !important; }
.align-content-around  { align-content: space-around !important; }
.align-content-stretch { align-content: stretch !important; }

.align-self-auto     { align-self: auto !important; }
.align-self-start    { align-self: flex-start !important; }
.align-self-end      { align-self: flex-end !important; }
.align-self-center   { align-self: center !important; }
.align-self-baseline { align-self: baseline !important; }
.align-self-stretch  { align-self: stretch !important; }

@each $s, $breakpoint in map-keys($breakpoints) {
    @media #{map-get($media-breakpoints-up, $s)} {

        .flex-#{$s}-row            { flex-direction: row !important; }
        .flex-#{$s}-column         { flex-direction: column !important; }
        .flex-#{$s}-row-reverse    { flex-direction: row-reverse !important; }
        .flex-#{$s}-column-reverse { flex-direction: column-reverse !important; }

        .flex-#{$s}-wrap         { flex-wrap: wrap !important; }
        .flex-#{$s}-nowrap       { flex-wrap: nowrap !important; }
        .flex-#{$s}-wrap-reverse { flex-wrap: wrap-reverse !important; }
        .flex-#{$s}-fill         { flex: 1 1 auto !important; }
        .flex-#{$s}-grow-0       { flex-grow: 0 !important; }
        .flex-#{$s}-grow-1       { flex-grow: 1 !important; }
        .flex-#{$s}-shrink-0     { flex-shrink: 0 !important; }
        .flex-#{$s}-shrink-1     { flex-shrink: 1 !important; }

        .justify-content-#{$s}-start   { justify-content: flex-start !important; }
        .justify-content-#{$s}-end     { justify-content: flex-end !important; }
        .justify-content-#{$s}-center  { justify-content: center !important; }
        .justify-content-#{$s}-between { justify-content: space-between !important; }
        .justify-content-#{$s}-around  { justify-content: space-around !important; }

        .align-items-#{$s}-start    { align-items: flex-start !important; }
        .align-items-#{$s}-end      { align-items: flex-end !important; }
        .align-items-#{$s}-center   { align-items: center !important; }
        .align-items-#{$s}-baseline { align-items: baseline !important; }
        .align-items-#{$s}-stretch  { align-items: stretch !important; }

        .align-content-#{$s}-start   { align-content: flex-start !important; }
        .align-content-#{$s}-end     { align-content: flex-end !important; }
        .align-content-#{$s}-center  { align-content: center !important; }
        .align-content-#{$s}-between { align-content: space-between !important; }
        .align-content-#{$s}-around  { align-content: space-around !important; }
        .align-content-#{$s}-stretch { align-content: stretch !important; }

        .align-self-#{$s}-auto     { align-self: auto !important; }
        .align-self-#{$s}-start    { align-self: flex-start !important; }
        .align-self-#{$s}-end      { align-self: flex-end !important; }
        .align-self-#{$s}-center   { align-self: center !important; }
        .align-self-#{$s}-baseline { align-self: baseline !important; }
        .align-self-#{$s}-stretch  { align-self: stretch !important; }
    }
}


$spacers: (
    '1': .5rem,
    '2': 1rem,
    '3': 1.5rem,
    '4': 2rem,
    '5': 3rem,
    '6': 4rem,
);

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
        .#{$abbrev}-#{$size} { #{$prop}: #{$length} !important; }
        .#{$abbrev}t-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-top: #{$length} !important;
        }
        .#{$abbrev}r-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-right: #{$length} !important;
        }
        .#{$abbrev}b-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-bottom: #{$length} !important;
        }
        .#{$abbrev}l-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-left: #{$length} !important;
        }
    }
}

@each $s, $breakpoint in map-keys($breakpoints) {
    @media #{map-get($media-breakpoints-up, $s)} {
  
      @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers {
                .#{$abbrev}-#{$s}-#{$size} { #{$prop}: #{$length} !important; }
                .#{$abbrev}t-#{$s}-#{$size},
                .#{$abbrev}y-#{$s}-#{$size} {
                    #{$prop}-top: #{$length} !important;
                }
                .#{$abbrev}r-#{$s}-#{$size},
                .#{$abbrev}x-#{$s}-#{$size} {
                    #{$prop}-right: #{$length} !important;
                }
                .#{$abbrev}b-#{$s}-#{$size},
                .#{$abbrev}y-#{$s}-#{$size} {
                    #{$prop}-bottom: #{$length} !important;
                }
                .#{$abbrev}l-#{$s}-#{$size},
                .#{$abbrev}x-#{$s}-#{$size} {
                    #{$prop}-left: #{$length} !important;
                }
            }
        }
  
        // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
        @each $size, $length in $spacers {
            @if $size != 0 {
                .m-#{$s}-n#{$size} { margin: -#{$length} !important; }
                .mt-#{$s}-n#{$size},
                .my-#{$s}-n#{$size} {
                    margin-top: -#{$length} !important;
                }
                .mr-#{$s}-n#{$size},
                .mx-#{$s}-n#{$size} {
                    margin-right: -#{$length} !important;
                }
                .mb-#{$s}-n#{$size},
                .my-#{$s}-n#{$size} {
                    margin-bottom: -#{$length} !important;
                }
                .ml-#{$s}-n#{$size},
                .mx-#{$s}-n#{$size} {
                    margin-left: -#{$length} !important;
                }
            }
        }
  
        // Some special margin utils
        .m-#{$s}-auto { margin: auto !important; }
        .mt-#{$s}-auto,
        .my-#{$s}-auto {
            margin-top: auto !important;
        }
        .mr-#{$s}-auto,
        .mx-#{$s}-auto {
            margin-right: auto !important;
        }
        .mb-#{$s}-auto,
        .my-#{$s}-auto {
            margin-bottom: auto !important;
        }
        .ml-#{$s}-auto,
        .mx-#{$s}-auto {
            margin-left: auto !important;
        }
    }
}

$displays: ("block", "flex", "none");

@each $value in $displays {
    .d-#{$value} { display: #{$value} !important; }
}

@each $s, $breakpoint in map-keys($breakpoints) {
    @media #{map-get($media-breakpoints-up, $s)} {
        @each $value in $displays {
            .d-#{$s}-#{$value} { display: #{$value} !important; }
        }
    }
}
  
[type="radio"]:not(:checked) + span, [type="radio"]:checked + span{
    padding-left: 25px;
}

.btn-xsmall {
    height: 28.4px;
    line-height: 28.4px;
    font-size: 12px;
    padding: 0 10px;
}