@import '~vuetify/dist/vuetify.min';
@import '~vuetify/src/styles/styles';

html,
body,
#app,
.v-application:not(.v-snack) {
  height: 100%;
}

.v-application--wrap {
  min-height: 100%;
}

.v-navigation-drawer {
  height: 100% !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.v-content {
  margin-bottom: 30px;
}

.v-text-field--single-line {
  padding-top: 0px !important;
}

#main-loader {
  bottom: -4px;
}

#categories-tree {
  $node-level-size: 36px;

  .v-treeview-node__level {
    width: $node-level-size;
  }
  .v-treeview-node__toggle {
    width: $node-level-size;
    height: $node-level-size;
  }

  & > .v-treeview-node {
    & > .v-treeview-node__root {
      .v-treeview-node__label {
        // font-size: 16px;
        // font-weight: 600;
      }
    }
    // &>.v-treeview-node__children{
    //   & > .v-treeview-node >.v-treeview-node__root{
    //     .v-treeview-node__label{
    //       font-size: 16px;
    //     }
    //   }
    // }
  }
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .container {
    .v-card__subtitle,
    .v-card__text,
    .v-card__title {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  #categories-tree {
    $node-level-size: 36px;
    .v-treeview-node__level {
      width: $node-level-size;
    }
    .v-treeview-node__toggle {
      width: $node-level-size;
      height: $node-level-size;
    }
  }
}

.fbsilh {
  .v-btn__content {
    line-height: 0px;
  }
}
