<template>
  <span v-if="category">
    <span
      v-for="parent in category.parents"
      :key="parent.pk"
      class="no-wrap caption text--disabled mr-1 text-uppercase"
    >
      {{parent.name}}
      <v-icon x-small>arrow_forward</v-icon>
    </span>
    <span class="text-uppercase body-2">{{category.name}}</span>
  </span>
</template>

<script>
import { Category } from '@/models/category'
export default {
  props: {
    category: Category
  }
}
</script>

<style>
</style>