<template>
  <div class="px-4 pt-8">
    <div v-for="(row, i) in Array(rows).keys()" :key="i">
      <v-skeleton-loader type="text" max-width="10%" />
      <v-skeleton-loader type="text" height="50px" />
    </div>
    <div class="d-flex justify-end">
      <v-skeleton-loader type="button" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    rows: {
      type: [Number, String],
      default: 3,
      validation: value => {
        return (
          !isNaN(value) &&
          parseInt(Number(value)) == value &&
          !isNaN(parseInt(value, 10))
        )
      }
    }
  }
}
</script>

<style></style>
