<template>
  <div>
    <span
      v-for="(_, v_name) in input.$params"
      :key="v_name"
      v-show="input.$dirty && !input[v_name]"
      class="helper-text error-text"
    >
      <span v-if="v_name == 'maxLength'">
        {{
        (data.error[v_name] || defaultData.error[v_name])
        | f(input.$model.length, input.$params[v_name].max)
        }}
      </span>
      <span v-else>
        {{
        data.error[v_name] ||
        defaultData.error[v_name] ||
        data.error.invalid ||
        defaultData.error.invalid
        }}
      </span>
    </span>

    <span
      v-show="input.$invalid && (data.helper || defaultData.helper)"
      class="helper-text"
    >{{ data.helper || defaultData.helper }}</span>

    <span v-show="!input.$invalid && (data.success || defaultData.success)">
      {{
      data.success || defaultData.success
      }}
    </span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'input_helper',
  computed: {
    ...mapGetters(['inputsData']),
    defaultData() {
      return this.inputsData.default
    }
  },
  props: {
    input: {
      required: true,
      type: Object
    },
    data: {
      required: true,
      type: Object
    }
  }
}
</script>

<style></style>
