<template>
  <v-skeleton-loader
    type="table"
    :types="{'table-row': 'table-cell@' + columns, 'table-thead': 'heading@' + columns}"
  />
</template>

<script>
export default {
  props: {
    columns: {
      type: [Number, String],
      default: 4,
      validation: value => {
        return (
          !isNaN(value) &&
          parseInt(Number(value)) == value &&
          !isNaN(parseInt(value, 10))
        )
      }
    }
  }
}
</script>

<style>
</style>