<template>
  <v-scale-transition mode="out-in" origin="cetner 0" group>
    <v-btn
      v-if="hasSelected"
      fixed
      bottom
      right
      fab
      dark
      color="error"
      :title="_(`actions.deleteSelected`)"
      @click="$emit('deleteSelected')"
      :loading="$wait.is(`${name}.bulkDelete`)"
      key="delete"
      style="right: 80px"
    >
      <v-icon>delete</v-icon>
    </v-btn>

    <v-btn
      fixed
      bottom
      right
      fab
      dark
      color="secondary"
      :to="{name: `${route}-add`}"
      :title="_('actions.add')"
      key="add"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-scale-transition>
</template>

<script>
import { MODELS } from '@/api'
import { mapGetters } from 'vuex'

export default {
  props: {
    modelClass: {
      type: Function,
      required: true,
      validation: value => MODELS.includes(value)
    },
    hasSelected: {
      type: [Boolean, Number, String],
      default: false
    }
  },
  computed: {
    ...mapGetters('i18n', ['_']),
    name() {
      return this.modelClass._name
    },
    route() {
      return this.modelClass._namePlural
    }
  }
}
</script>

<style>
</style>