<template>
  <div>
    <div class="d-sm-none">
      <v-menu close-on-click close-on-content-click offset-y color="primary">
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon>
            <v-icon color="primary">more_vert</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item :to="{ name: route + '-edit', params: { pk: model.pk } }">
            <v-list-item-title>
              <v-icon left>edit</v-icon>
              {{ _('actions.edit') }}
            </v-list-item-title>
          </v-list-item>

          <v-list-item @click="$emit('delete', model)">
            <v-list-item-title>
              <v-icon left>delete</v-icon>
              {{ _('actions.delete') }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <div class="d-none d-sm-block text-no-wrap">
      <v-btn :to="{ name: route + '-edit', params: { pk: model.pk } }" icon class="mr-1">
        <v-icon small>edit</v-icon>
      </v-btn>

      <v-btn @click="$emit('delete', model)" icon :loading="$wait.is(`${name}.delete.${model.pk}`)">
        <v-icon small>delete</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import { Model } from '@/models/index'
import { mapGetters } from 'vuex'
import { MODEL_ROUTES } from '@/api'

export default {
  props: {
    model: {
      type: Object,
      required: true,
      validation: value => value instanceof Model
    }
  },
  computed: {
    ...mapGetters('i18n', ['_']),
    name() {
      return this.model.constructor._name
    },
    route() {
      return this.model.constructor._namePlural
    }
  }
}
</script>

<style></style>
