<template>
  <span>
    <v-icon left>add</v-icon>
    {{ _('actions.add') }}
  </span>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  }
}
</script>