<template>
  <v-fade-transition
    :mode="$defaults.fadeTransitionMode"
    :duration="$defaults.fadeTransitionDuration"
  >
    <div v-if="waitFor ? $wait.is(waitFor) : true" key="waiting">
      <slot name="waiting" />
    </div>
    <div v-else key="content">
      <slot />
    </div>
  </v-fade-transition>
</template>

<script>
export default {
  props: {
    waitFor: {
      type: [String, Array]
    }
  }
}
</script>

<style>
</style>