<template>
  <core-edit
    :heading="_('item.heading.edit')"
    :actions="['category/fetchAll']"
    :waiters="['category.fetchAll', `item.fetch.${this.$route.params.pk}`]"
  >
    <core-form
      :instance="getItem($route.params.pk)"
      :model-class="$route.meta.model"
      action="edit"
      :fields="fields"
    ></core-form>
  </core-edit>
</template>

<script>
import ItemFormMixin from './Form'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('item', ['getItem']),
    ...mapGetters('i18n', ['_'])
  },
  mixins: [ItemFormMixin],
  created() {
    this.$store.dispatch(`item/fetch`, this.$route.params.pk)
  }
}
</script>

<style>
</style>