<template>
  <core-list
    :heading="_('item.heading.list')"
    :table="table"
    :rows="rows"
    :filters="filters"
    :actions="['item/fetchAll', 'category/fetchAll']"
    :waiters="['item.fetchAll', 'category.fetchAll']"
  ></core-list>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Category } from '@/models/category'
export default {
  data() {
    return {
      rows: [
        {
          value: 'category',
          component: 'HelperCategoryParentHierarchy',
          data: item => {
            return { propsData: { category: item.categoryObj } }
          },
          validation: item => item.categoryObj
        }
      ]
    }
  },
  computed: {
    ...mapGetters('i18n', ['_']),
    ...mapGetters('category', ['categoriesArray']),
    table() {
      return [
        {
          text: this._('item.fields.sku.label').toUpperCase(),
          value: 'sku'
        },
        {
          text: this.$options.filters.c(this._('item.fields.category.label')),
          value: 'category',
          sortable: false
        },
        {
          text: this.$options.filters.c(this._('actions.listActions')),
          value: 'actions',
          align: 'end',
          sortable: false,
          filterable: false
        }
      ]
    },
    filters() {
      return [
        {
          name: 'category',
          text: 'name',
          type: 'autocomplete',
          label: this._('item.fields.category.label'),
          items: this.categoriesArray,
          filter: (item, value) => item.category == value,
          slots: [
            {
              name: 'item',
              component: 'HelperCategoryParentHierarchy',
              data: category => {
                return { propsData: { category } }
              }
            },
            {
              name: 'selection',
              component: 'HelperCategoryParentHierarchy',
              data: category => {
                return { propsData: { category } }
              }
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>
</style>