<template>
  <core-view
    :heading="_('item.heading.view')"
    :actions="['category/fetchAll']"
    :waiters="['category.fetchAll', `item.fetch.${this.$route.params.pk}`]"
  >View</core-view>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('i18n', ['_'])
  }
}
</script>

<style>
</style>