<template>
  <v-app>
    <core-sidebar />
    <core-navbar />
    <v-content>
      <v-container>
        <v-fade-transition
          :mode="$defaults.fadeTransitionMode"
          :duration="$defaults.fadeTransitionDuration"
        >
          <keep-alive :include="include" :max="max">
            <router-view></router-view>
          </keep-alive>
        </v-fade-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'
import { mapWaitingActions } from 'vue-wait'
import { MODELS } from '@/api'

export default {
  computed: {
    include() {
      return [...MODELS.map(model => `${model._namePlural}-list`), 'dashboard']
    },
    max() {
      return this.include.length
    }
  }
}
</script>


